@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap");

:root {
	font-size: 62.5%;

	--background-dark: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
	--background-light: rgba(255, 255, 255, 0.95);

	--button-login: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
	--button-login-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);

	--button-add: #00ba88;
	--button-remove: #ff3d1f;

	--white-primary: #fff;
	--white-secondary: #e0e0e0;
	--black-primary: #222222;
	--black-secondary: #3b3e45;
	--black-placeholder: rgba(0, 0, 0, 0.7);
	--yellow-error: #e9b425;
	--yellow-action-border: #fece00;

	--monday-color: #ff0024;
	--tuesday-color: #ff8000;
	--wednesday-color: #ffce00;
	--thursday-color: #ff0024b2;
	--friday-color: #ff8000b2;
	--saturday-color: #ffce00b2;
	--sunday-color: #ff002480;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 1.6rem;
	font-family: "Mulish", sans-serif;
}

body {
	width: 100%;
	min-height: 100vh;
}
